[user]
	name = REPLACE_NAME
	email = REPLACE_EMAIL
[core]
	editor = vim
[alias]
	gr = log --all --decorate --oneline --graph
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git://"]
	insteadOf = https://
[alias]
	gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
